.header_cadastro{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
}

.main_cadastro{

    height: calc(100vh - 100px);

    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.main_cadastro h1{
    color: var(--cor-texto);
    margin: 50px;
}

.main_cadastro form{
    width: 50%;
    height: 70%;

    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;

    gap: 25px;
}

.campo_cadastro{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.campo_cadastro label{
    color: var(--cor-texto);
    margin-bottom: 10px;

    font-weight: bold;
}

.campo_cadastro input{
    width: 100%;
    height: 40px;
    border: none;
    box-shadow: 4px 4px 8px 1px #bdbdc1;
    border-radius: 10px;
    outline: 0;
    padding: 10px;
}

.botao_cadastro{
    width: 100%;
}
