.botao{
    background-color: #003878;
    color: white;

    width: 100%;
    height: 40px;

    outline: none;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    /* font-weight: 600; */
    font-size: 18px;
}