.main_lista{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_lista h1{
    color: var(--cor-texto);

    margin: 50px;
}

.card_local{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--cor-texto);
    font-weight: bold;
}